.cards {
    display: flex;
    flex-wrap: wrap;

    justify-content:space-around
}
.adress {
    list-style: none;
}
.nameOfUser {
  text-align: center;
  color: chocolate;
  font-size: xx-large
}
.jobOfuser {
    color: blueviolet;
    font-size: larger;
}
